body {
  margin: 0;
  font-family: "Inter", "Segoe UI", sans-serif;
  background: #f8fafc;
  color: #1e293b;
}

/* NAVBAR */
.navbar {
  width: 100%;
  background: #0f172a;
  padding: 18px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h3 {
  margin: 0;
  color: white;
}

.navbar div {
  display: flex;
  gap: 30px;
}

.navbar a {
  color: #e2e8f0;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  color: #38bdf8;
}

/* CONTAINER */
.container {
  padding: 50px 20px;
  max-width: 1000px;
  margin: auto;
}

/* CARD */
.card {
  background: white;
  padding: 25px;
  border-radius: 16px;
  margin-bottom: 25px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.06);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-4px);
}

/* BADGE */
.difficulty {
  display: inline-block;
  padding: 6px 14px;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
  color: white;
}

/* BUTTON */
button {
  padding: 9px 18px;
  border-radius: 8px;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #1e40af;
}

/* WORKSPACE */
.workspace {
  padding: 40px;
  max-width: 1000px;
  margin: auto;
}

textarea {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #cbd5e1;
  margin-top: 15px;
  font-size: 14px;
}

.result-container {
  margin-top: 30px;
}

/* TABLE */
.result-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 25px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.result-table th {
  background: #2563eb;
  color: white;
  padding: 12px;
}

.result-table td {
  padding: 12px;
  border-bottom: 1px solid #e2e8f0;
}

.result-table tr:nth-child(even) {
  background: #f1f5f9;
}

/* AUTH */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.auth-card {
  width: 380px;
  background: white;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}

.auth-card h2 {
  text-align: center;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
}

.auth-card button {
  width: 100%;
}